.page {
    background: #f6f8fc;
}
.mat-mdc-header-row {
  background-color: #0a4984;   /* your brand color */
  color:#fff
}

.card {
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,.06);
    padding: 10px;
    margin-bottom: 6px;
}

.header-content h2 {
    margin: 0;
    font-size: 34px;
    font-weight: 700;
}

.header-content p {
    margin-top: 8px;
    color: #666;
    font-size: 18px;
}

.header-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .06);
    margin-bottom: 5px;
}

.header-content {
    flex: 1;
}

.header-card button {
    margin-left: auto;
    margin-top: 50px;
}


.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    width: 280px;
    height: 75px;
}

.stats {
    display: flex;
    gap: 15px;
}

.stat-card {
    width: 200px;
    background: #f8f8ff;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.stat-card h3 {
    margin: 0;
}

.success {
    background: #eefbf2;
}

.success mat-icon {
    color: #20b15a;
}

.table {
    margin-bottom: 0;
}

thead {
    background: #fafafa;
}

th {
    font-weight: 600;
}

.status-active {
    background: #dff6e7;
    color: #0b8f39;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

.status-inactive {
    background: #fee2e2;
    color: #dc2626;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}

button[mat-icon-button] {
    margin: 0 3px;
}
.mat-mdc-header-cell:first-child {
  border-top-left-radius: 12px;
}
.mat-mdc-header-cell:last-child {
  border-top-right-radius: 12px;
}

.table-container {
    max-height: 52vh;   /* Adjust as needed */
    overflow-y: auto;
    overflow-x: auto;
}

table {
    width: 100%;
}

.mat-mdc-header-row,
.mat-header-row {
    position: sticky;
    top: 0;
    z-index: 100;
    background: #0d4f8b;
}
