<h2 mat-dialog-title>Edit Product</h2>

<mat-dialog-content>
  <form [formGroup]="editForm">
        <div class="row">
       <h2>Product ID : {{editForm.value.product_id}}</h2>
        </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="product_name" required>
        <mat-error *ngIf="editForm.get('product_name')?.hasError('required')">
          Product name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col-md-6">
        <mat-label> Stock</mat-label>
        <input matInput formControlName="stock" required>
        <mat-error *ngIf="editForm.get('stock')?.hasError('required')">
          Stock is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label> Price (₹)</mat-label>
        <input matInput type="number" formControlName="product_price">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()"  color="warn"><mat-icon>cancel</mat-icon>Cancel</button>
  <button mat-raised-button color="primary" (click)="onUpadate(editForm.value)" [disabled]="editForm.invalid">
    Update
  </button>
</mat-dialog-actions>