/* orderlist.component.css */
.order-list-container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
}

.header h2 {
  color: #333;
  margin-bottom: 5px;
}

.header p {
  color: #666;
  margin: 0;
}

.table-container {
  background: white;
  border-radius: 8px;
}

table {
  width: 100%;
}

.customer-info .customer-name {
  font-weight: 500;
}

.customer-info .customer-email,
.customer-info .customer-phone {
  font-size: 12px;
  color: #666;
}

.products-info .product-count {
  font-weight: 500;
  color: #333;
}

.products-info .product-names {
  font-size: 12px;
  color: #666;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.amount {
  font-weight: bold;
  color: #2e7d32;
}

.status-badge, .payment-badge {
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Order Status Styles */
.status-pending {
  background-color: #fff3cd;
  color: #856404;
}

.status-processing {
  background-color: #d1edff;
  color: #0c5460;
}

.status-shipped {
  background-color: #d4edda;
  color: #155724;
}

.status-delivered {
  background-color: #28a745;
  color: white;
}

.status-cancelled {
  background-color: #f8d7da;
  color: #721c24;
}

.status-default {
  background-color: #e2e3e5;
  color: #383d41;
}

/* Payment Status Styles */
.payment-paid {
  background-color: #d4edda;
  color: #155724;
}

.payment-pending {
  background-color: #fff3cd;
  color: #856404;
}

.payment-failed {
  background-color: #f8d7da;
  color: #721c24;
}

.payment-default {
  background-color: #e2e3e5;
  color: #383d41;
}

.action-buttons {
  display: flex;
  gap: 5px;
}

.mat-paginator {
  background: white;
}
/* Table header background */
.order-table .mat-mdc-header-row {
  background-color: #0a4984;   /* your brand color */
}

/* Header text */
.mat-mdc-header-cell {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}
.table-container {
  max-height: calc(100vh - 150px);       /* table body height */
  overflow-y: auto;
  overflow-x: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding:  7px 15px 0px 15px;
}

.order-heading {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

/* right side container */
.header-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* control mat-input width */

/* refresh icon */
.refresh {
  cursor: pointer;
  color: #0a4984;
}

.refresh:hover {
  color: #06325f;
}
::ng-deep .search-field .mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

::ng-deep .search-field .mdc-line-ripple {
  background-color: #0a4984;   
}
.search-field {
  width: 200px;
}

::ng-deep .search-field .mat-mdc-form-field-infix {
  padding: 2px 0;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled){
background-color: #fff !important;
}