<mat-card class="employee-card">
  <mat-card-title>Add Employee</mat-card-title>
  <mat-divider></mat-divider>

  <form [formGroup]="personalForm" (ngSubmit)="saveEmployee()">

    <div class="grid">

      <mat-form-field appearance="outline">
        <mat-label>Full Name</mat-label>
        <input matInput formControlName="fullName">
        <mat-error *ngIf="personalForm.get('fullName')?.invalid">
          Full Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="mobile">
        <mat-error *ngIf="personalForm.get('mobile')?.invalid">
          Mobile is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Employee ID</mat-label>
        <input matInput formControlName="employeeId">
        <mat-error *ngIf="personalForm.get('employeeId')?.invalid">
          Employee ID is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="dob">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Blood Group</mat-label>
        <mat-select formControlName="bloodGroup">
          <mat-option value="A+">A+</mat-option>
          <mat-option value="A-">A-</mat-option>
          <mat-option value="B+">B+</mat-option>
          <mat-option value="B-">B-</mat-option>
          <mat-option value="AB+">AB+</mat-option>
          <mat-option value="AB-">AB-</mat-option>
          <mat-option value="O+">O+</mat-option>
          <mat-option value="O-">O-</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- PHOTO -->

      <div class="photo">
        <img *ngIf="photoPreview" [src]="photoPreview">
        <input type="file" hidden (change)="onPhotoSelect($event)" #fileInput>
        <button mat-stroked-button color="primary" (click)="fileInput.click()">
          <mat-icon>photo_camera</mat-icon> Upload Photo
        </button>
      </div>

    </div>

   <div class="form-buttons" style="margin-top:20px;">
      <button
  mat-raised-button
  color="primary"
  type="submit"
  [disabled]="personalForm.invalid || !selectedFile">
  Add Employee
</button>

    </div>

  </form>
</mat-card>