<app-loader [isLoading]="isLoading"></app-loader>
<div style="border: 1px solid #d1d1d1;padding: 8px;border-radius: 8px;">
<div class="order-heading mb-3"> Upload Product</div>
<hr>
<div *ngIf="!isLoading">
  <section class="d-flex align-items-center justify-content-center">
    <form [formGroup]="productForm" (ngSubmit)="uploadFormData()" enctype="multipart/form-data">
      <div class="container-fluid">
        <div class="row">
          <!-- Left Column -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Product Name</mat-label>
              <input matInput type="text" formControlName="p_name" ngModel required />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Product MRP Price</mat-label>
              <input matInput type="number" formControlName="p_mrp" ngModel required />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Product Price</mat-label>
              <input matInput type="number" formControlName="p_price" ngModel required />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Product Discount (save) Price</mat-label>
              <input matInput type="number" formControlName="p_discount" ngModel required />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>HSN Code</mat-label>
              <input matInput type="number" formControlName="hsn_code" ngModel required />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>GST Rate (%)</mat-label>
              <mat-select formControlName="gst_rate">
                <mat-option [value]="null" disabled>
                  Select GST Rate
                </mat-option>
                <mat-option *ngFor="let rate of gstRates" [value]="rate">
                  {{ rate }} %
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Category</mat-label>
              <mat-select formControlName="p_category" (selectionChange)="onCategoryChange($event.value)" required>
                <mat-option *ngFor="let cat of categories" [value]="cat.category">{{ cat.category | titlecase
                  }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Shelf code -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Shelf Code</mat-label>
              <input matInput formControlName="p_shelfcode" placeholder="Ex: A-03-D1">
            </mat-form-field>
          </div>
          <!-- Age Group (depends on category) -->
          <div class="col-md-6" *ngIf="selectedCategory && categoryAgeGroups.length">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Age Group</mat-label>
              <mat-select formControlName="age_group">
                <mat-option value="">Select Age Group</mat-option>
                <mat-option *ngFor="let age of categoryAgeGroups" [value]="age.value">
                  {{ age.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- SubCategory Dropdown (depends on category) -->
          <div class="col-md-6">
            <mat-form-field appearance="outline" class="w-100" *ngIf="selectedCategory">
              <mat-label>SubCategory</mat-label>
              <mat-select [(value)]="selectedSubCategory" formControlName="p_subcategory" required>
                <div class="sub-category-search" (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
                  <mat-icon>search</mat-icon>
                  <input matInput placeholder="Search subcategories" [(ngModel)]="subCategorySearchText"
                    [ngModelOptions]="{ standalone: true }">
                </div>
                <mat-option *ngFor="let sub of filteredSubCategories" [value]="sub.key">
                  {{ sub.label }}
                </mat-option>
                <mat-option *ngIf="filteredSubCategories.length === 0" disabled>
                  No subcategories found
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Variants -->
          <div formArrayName="variants" class="">
            <div class="variant-title">Variants (Color + Color Code + Stock + Image)</div>
            <div *ngFor="let variant of variants.controls; let i=index" [formGroupName]="i" class="mb-2 pt-3"
              style="background-color: #f2f3ea;border-radius: 12px;">
              <div class="row" style="margin-left: 0px !important;margin-right: 33px !important;">
                <div class="col-md-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Color</mat-label>
                    <input matInput type="text" formControlName="p_color" ngModel required />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Color Code</mat-label>
                    <input matInput type="text" formControlName="p_colorcode" required />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Stock</mat-label>
                    <input matInput type="text" (keypress)="allowOnlyNumbers($event)" formControlName="p_stock"
                      required>
                  </mat-form-field>
                </div>
              </div>
              <div class="align-variant">
                <div class="col-md-6">
                  <div class="file-inputs mb-3">
                    <label>Image</label>
                    <input type="file" (change)="onSelectFile($event, i)" multiple required />
                  </div>
                </div>
                <div class="col-md-6">
                  <button mat-raised-button type="button" color="primary" class="mr-2 mb-2" (click)="addVariant()">
                    <mat-icon>add_plus</mat-icon>
                  </button>
                  <button mat-raised-button color="warn" type="button" class="mb-2" (click)="removeVariant(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <div class="editor-section">
              <label>Product Description</label>
              <angular-editor formControlName="p_description" [config]="editorConfig" [(ngModel)]="htmlContent"
                required></angular-editor>
            </div>
          </div>
        </div>
        <div class="text-left pt-4 mb-4 ml-2 float-right">
          <button mat-raised-button color="primary" [disabled]="productForm.invalid" type="submit"
            class="ml-2">Upload</button>
        </div>
      </div>
    </form>
  </section>
</div>
</div>
