<section class="d-flex align-items-center justify-content-center pt-4">
  <form [formGroup]="productForm" (ngSubmit)="uploadFormData()" enctype="multipart/form-data">
    <div class="container-fluid">
      <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Name</mat-label>
            <input matInput type="text" formControlName="p_name" ngModel />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product MRP Price</mat-label>
            <input matInput type="number" formControlName="p_mrp" ngModel />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Price</mat-label>
            <input matInput type="number" formControlName="p_price" ngModel />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Delivery Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="delivery_date" ngModel />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Product Discount (save) Price</mat-label>
            <input matInput type="number" formControlName="p_discount" ngModel />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <mat-select formControlName="p_category" (selectionChange)="onCategoryChange($event.value)">
              <mat-option *ngFor="let cat of categories" [value]="cat.category">{{ cat.category | titlecase
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Variants -->
        <div formArrayName="variants" class="">
          <div class="variant-title">Variants (Color + Color Code + Stock + Image)</div>
          <div *ngFor="let variant of variants.controls; let i=index" [formGroupName]="i" class="mb-2 pt-3" style="background-color: #f2f3ea;border-radius: 12px;">
            <div class="row" style="margin-left: 0px !important;margin-right: 33px !important;">
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Color</mat-label>
                  <mat-select formControlName="p_color">
                    <mat-option *ngFor="let color of productColor" [value]="color">{{ color }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Color Code</mat-label>
                  <input matInput type="text" formControlName="p_colorcode" />
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="outline">
                  <mat-label>Stock</mat-label>
                  <input matInput type="text" (keypress)="allowOnlyNumbers($event)" formControlName="p_stock">
                </mat-form-field>
              </div>
            </div>
            <div class="align-variant">
              <div class="col-md-6">
                <div class="file-inputs mb-3">
                  <label>Image</label>
                  <input type="file" (change)="onSelectFile($event, i)" multiple />
                </div>
              </div>
              <div class="col-md-6">
                <button mat-raised-button type="button" color="primary" (click)="addVariant()">
                  <mat-icon>add_plus</mat-icon>
                </button>
                <button mat-raised-button color="warn" type="button" class="ml-2" (click)="removeVariant(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- SubCategory Dropdown (depends on category) -->
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100" *ngIf="selectedCategory">
            <mat-label>SubCategory</mat-label>
            <mat-select [(value)]="selectedSubCategory" formControlName="p_subcategory">
              <mat-option *ngFor="let sub of selectedCategory.subCategories" [value]="sub.key">
                {{ sub.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <div class="editor-section">
            <label>Product Description</label>
            <angular-editor formControlName="p_description" [config]="editorConfig"
              [(ngModel)]="htmlContent"></angular-editor>
          </div>
        </div>
      </div>
      <div class="text-left pt-4 mb-4 ml-2 float-right">
        <button mat-raised-button color="primary" type="submit" class="ml-2">Upload</button>
      </div>
    </div>
  </form>
</section>