.w-100 {
  width: 100%;
}

.mb-4 {
  margin-bottom: 1rem;
}
.signlink {
color:blue;
cursor: pointer;
}
.login-section{
width: 100%; 
max-width: 500px; 
border-radius: 24px; 
padding: 32px;
margin: auto;
margin-top: 5%;
}