.w-100 {
     width: 100%;
}
 .mb-4 {
     margin-bottom: 1rem;
}
 .signlink {
     color: blue !important;
     cursor: pointer;
}
 .login-section {
     width: 100%;
     max-width: 500px;
     border-radius: 24px;
     padding: 32px;
     margin: auto;
     margin-top: 5%;
}
 .mat-mdc-form-field-error-wrapper {
     padding: 0 0px !important;
}

 .admin-login {
     color: #424242c7;
     font-size: 12px;
     cursor: pointer;
}
 .login-container {
     position: relative;
}
 app-privacy-popup {
     position: fixed;
     bottom: 20px;
     right: 20px;
     z-index: 1000;
}

