   <div class="row" style="margin-bottom: 40px;">
      <div class="top-date-picker-section">
         <div class="dashboard-title">Super Admin Dashboard</div>
         <div class="datepicker-wrapper">
            <mat-form-field appearance="fill" style="width: 230px;font-size: 12px;font-weight: 600;" class="pt-4">
               <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate placeholder="Start date" [(ngModel)]="fromDate">
                  <input matEndDate placeholder="End date" [(ngModel)]="toDate">
               </mat-date-range-input>
               <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-date-range-picker #picker (closed)="onDateRangeChange()"></mat-date-range-picker>
            </mat-form-field>
            <button mat-button color="primary" (click)="resetDateRange()"><mat-icon>refresh</mat-icon> Reset</button>
         </div>
      </div>
   </div>

<div class="container-fluid dashboard-back pt-4">
   <div class="row">
      <div class="col-md-2 mb-4" *ngFor="let reven of revenue">
         <mat-card appearance="outlined" class="metric-card" [ngClass]="reven.borderColorClass">
            <mat-card-header>
               <mat-card-title>{{ reven.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div class="card-body-progress">
                  <div class="value-section">
                     <span class="value">{{ reven.value }}</span>
                  </div>
                  <mat-progress-bar class="bar-progress" mode="determinate" [value]="reven.spinnerValue"
                     [color]="reven.color">
                  </mat-progress-bar>
               </div>
            </mat-card-content>
         </mat-card>
      </div>
      <div class="col-md-3 mb-4" *ngFor="let progress of pending">
         <mat-card appearance="outlined" class="metric-card" [ngClass]="progress.borderColorClassone">
            <mat-card-header>
               <mat-card-title>{{ progress.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div class="card-body-progress">
                  <div class="value-section">
                     <span class="title">{{ progress.title }}</span>
                     <span class="value">{{ progress.value }}</span>
                  </div>
                  <mat-progress-bar class="bar-progress" mode="determinate" [value]="progress.barValue"
                     [color]="progress.color">
                  </mat-progress-bar>
               </div>
            </mat-card-content>
         </mat-card>
      </div>
      <div class="col-md-3 mb-4" *ngFor="let expense of expenses">
         <mat-card appearance="outlined" class="metric-card" [ngClass]="expense.borderColorClassone">
            <mat-card-header>
               <mat-card-title>{{ expense.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div class="card-body-progress">
                  <div class="value-section">
                     <span class="title">{{ expense.title }}</span>
                     <span class="value">{{ expense.value }}</span>
                  </div>
                  <mat-progress-bar class="bar-progress" mode="determinate" [value]="expense.barValue"
                     [color]="expense.color">
                  </mat-progress-bar>
               </div>
            </mat-card-content>
         </mat-card>
      </div>
      <div class="col-md-3">
         <mat-card appearance="outlined" class="chart-card">
            <mat-card-header class="dateselect">
               <mat-card-title>Order Status Distribution</mat-card-title>

            </mat-card-header>
            <mat-card-content>
               <div echarts [options]="orderStatusDistribution" class="chart" style="height: 200px;"></div>
            </mat-card-content>
         </mat-card>
      </div>
      <div class="col-md-3">
         <mat-card appearance="outlined" class="chart-card">
            <mat-card-header>
               <mat-card-title>Payment Method Distribution</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div echarts [options]="paymentMethodDistribution" class="chart" style="height: 200px;"></div>
            </mat-card-content>
         </mat-card>
      </div>
      <div class="col-md-3">
         <mat-card appearance="outlined" class="chart-card">
            <mat-card-header>
               <mat-card-title>Product Category Sales</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div echarts [options]="productCategorySales" class="chart" style="height: 200px;"></div>
            </mat-card-content>
         </mat-card>
      </div>
      <div class="col-md-3">
         <mat-card appearance="outlined" class="chart-card">
            <mat-card-header>
               <mat-card-title>Sales by Source / Channel</mat-card-title>
            </mat-card-header>
            <mat-card-content>
               <div echarts [options]="salesBySource" class="chart" style="height: 200px;"></div>
            </mat-card-content>
         </mat-card>
      </div>
   </div>
</div>