<div class="change-password-container">
    <mat-card class="password-card">
        <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 10px;">
            <mat-icon class="shield-icon">security</mat-icon>
       </div>
        <div class="header">
                <h2>Change Password</h2>
                <p>For your security, please change your password before continuing.</p>
        </div>

        <form [formGroup]="changePasswordForm" (ngSubmit)="updatePassword()">
            <div class="content-grid">
                <!-- Left -->
                <div>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Current Password</mat-label>
                        <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="current_password">
                        <button mat-icon-button matSuffix type="button" (click)="hideCurrent=!hideCurrent">
                            <mat-icon>
                                {{hideCurrent ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="text-danger" *ngIf="changePasswordForm.get('current_password')?.hasError('required') &&
                       changePasswordForm.get('current_password')?.touched">
                        Current password is required.
                    </div>

                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="new_password"
                            (input)="checkStrength()">
                        <button mat-icon-button matSuffix type="button" (click)="hideNew=!hideNew">
                            <mat-icon>
                                {{hideNew ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="text-danger" *ngIf="changePasswordForm.get('new_password')?.hasError('required') &&
                       changePasswordForm.get('new_password')?.touched">
                        New password is required.
                    </div>

                    <!-- <div class="text-danger" *ngIf="changePasswordForm.get('new_password')?.hasError('pattern') &&
                     changePasswordForm.get('new_password')?.value">
                        Password must contain at least 1 uppercase, 1 lowercase, 1 number and 1 special character.
                    </div> -->
                    <div class="text-danger" *ngIf="changePasswordForm.hasError('samePassword')">
                        New password cannot be the same as current password.
                    </div>
                    <div class="strength-section">
                        <div class="strength-header">
                            Password Strength:
                            <span [ngClass]="strengthClass">
                                {{passwordStrength}}
                            </span>
                        </div>
                        <mat-progress-bar mode="determinate" [value]="strengthValue">
                        </mat-progress-bar>

                    </div>
                    <mat-form-field appearance="outline" class="full-width mt-20">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirm_password">
                        <button mat-icon-button matSuffix type="button" (click)="hideConfirm=!hideConfirm">
                            <mat-icon>
                                {{hideConfirm ? 'visibility_off' : 'visibility'}}
                            </mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="text-danger" *ngIf="changePasswordForm.get('confirm_password')?.hasError('required') &&
                       changePasswordForm.get('confirm_password')?.touched">
                        Cunfirm password is required.
                    </div>
                    <div class="text-danger" *ngIf="changePasswordForm.value.confirm_password">
                        <span *ngIf="passwordMatched" class="success">
                            ✓ Passwords match
                        </span>
                        <span *ngIf="!passwordMatched" class="error">
                            ✗ Passwords do not match
                        </span>
                    </div>
                    <button mat-raised-button color="primary" class="submit-btn"
                        [disabled]="changePasswordForm.invalid || !passwordMatched">
                        <mat-icon>lock</mat-icon>
                        Update Password
                    </button>
                </div>

                <!-- Right -->
                <div>
                    <mat-card class="requirements-card">
                        <h5>Password Requirements</h5>
                        <ul>
                            <li>Minimum 8 characters</li>
                            <li>1 Uppercase letter (A-Z)</li>
                            <li>1 Lowercase letter (a-z)</li>
                            <li>1 Number (0-9)</li>
                            <li>1 Special Character</li>
                            <li>No spaces allowed</li>
                        </ul>
                    </mat-card>
                    <mat-card class="example-card">
                        <h6>Strong Password Example</h6>
                        <div class="password-example">
                            X7!pL9@kQ2#zM8
                        </div>
                    </mat-card>
                </div>
            </div>
        </form>
    </mat-card>
</div>