<div class="order-heading mb-3"> Customer Review </div>
 <div class="table-container">
    <!-- <div class="loader-overlay">
      <mat-progress-bar mode="indeterminate" diameter="50">
      </mat-progress-bar>
    </div> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">
   <!-- User -->
   <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let review">
        <strong> {{ review.user_name | titlecase }} </strong>
      </td>
   </ng-container>

   <!-- Product -->
   <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef> Product </th>
      <td mat-cell *matCellDef="let review">
         {{ review.product_id | titlecase}}
      </td>
   </ng-container>

   <!-- Rating -->
   <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> Rating </th>
      <td mat-cell *matCellDef="let review">
         <div class="rating-star">
         <mat-icon color="warn">star</mat-icon>
         {{ review.rating }}</div>
      </td>
   </ng-container>

   <!-- Title -->
   <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let review">
         {{ review.review_title | titlecase}}
      </td>
   </ng-container>

   <!-- Review -->
   <ng-container matColumnDef="review">
      <th mat-header-cell *matHeaderCellDef> Review </th>
      <td mat-cell *matCellDef="let review">
         {{ review.review_text | titlecase}}
      </td>
   </ng-container>

   <!-- Date -->
   <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let review">
         {{ review.created_at | date:'short' }}
      </td>
   </ng-container>

   <!-- Helpful -->
   <ng-container matColumnDef="helpful">
      <th mat-header-cell *matHeaderCellDef> Helpful </th>
      <td mat-cell *matCellDef="let review">
         <button mat-raised-button class="helpful" disabled>
            👍 {{ review.helpful_count }}
         </button>
      </td>
   </ng-container>

   <!-- Action -->
   <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let review">
         <!-- Approve -->
<button *ngIf="review.verified_purchase == 0" class="mr-2"
        mat-raised-button
        color="accent"
        (click)="approveReview(review)">
  Approve
</button>
<!-- REJECT -->
<button *ngIf="review.verified_purchase == 0"
        mat-raised-button
        color="warn"
        (click)="rejectReview(review)">
  Reject
</button>
<!-- Verified -->
<button *ngIf="review.verified_purchase == 1"
        mat-raised-button
        class="verified-btn"
        disabled>
  ✔ Verified
</button>
<!-- REJECTED -->
<button *ngIf="review.verified_purchase == -1"
        mat-raised-button
        class="rejected-btn"
        disabled>
  ✖ Rejected
</button>
      </td>
   </ng-container>

   <!-- HEADER & ROW -->
   <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
<!-- ✅ PAGINATOR -->
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 30, 40, 50]" showFirstLastButtons>
</mat-paginator>