
.full-width {
  width: 100%;
  /* border-radius: 12px; */
  overflow: hidden; /* important for radius */
}

.verified {
  font-size: 12px;
  color: green;
}

/* HEADER STYLE */

.mat-mdc-header-row {
  background-color: #0a4984;   /* your brand color */
}

/* Header text */
.mat-mdc-header-cell {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}
.mat-mdc-header-cell:first-child {
  border-top-left-radius: 12px;
}
.mat-mdc-header-cell:last-child {
  border-top-right-radius: 12px;
}

.order-heading {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
}

/* ROUND CORNERS */
.mat-header-row th:first-child {
   border-top-left-radius: 12px; 
}

.mat-header-row th:last-child {
   border-top-right-radius: 12px; 
}
table {
  /* border-radius: 12px; */
  overflow: hidden;
  margin-top: 10px;

}

.mat-row {
  background: #fff;
}

.mat-row:nth-child(even) {
  background: #345c98;
}
.verified-btn {
  background-color: #4caf50 !important; /* green */
  color: white !important;
}
.rejected-btn {
  background-color: #f44336 !important;
  color: white !important;
}
.rating-star{
    display: flex;
    line-height: 25px;
    gap: 10px
}
.helpful{
  background-color: #0a4984!important;
  color: white !important;

}