.file-inputs label {
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.file-inputs input[type="file"] {
  width: 100%;
}

.editor-section label {
  font-weight: 500;
  display: block;
  margin-bottom: 4px;
}
.file-inputs input[type="file"] {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}
.align-variant{
    display: flex;
    justify-content: end;
    align-items: center;
}
.variant-title{
  font-size: 13px;
  font-weight: 600;
  padding:0px 15px 5px 15px;
}
.mat-icon{
  margin-right: 0px !important;
}