<h2 mat-dialog-title>{{ data.title | titlecase }}</h2>
<mat-dialog-content>
  <!-- Delete Dialog -->
  <div *ngIf="data.type !== 'villages'">
    <p>{{ data.message }}</p>
  </div>

  <!-- Village Dialog -->
  <div *ngIf="data.type === 'villages'">

    <mat-form-field appearance="outline" class="w-100 pt-2">
      <mat-label>Search Village</mat-label>
      <input
    matInput
    [(ngModel)]="searchText"
    placeholder="Search by village">
    </mat-form-field>

    <div class="village-list">
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th style="width:60px">#</th>
      <th>Village</th>
      <th>Post Office</th>
    </tr>
  </thead>
      <tr *ngFor="let item of filteredVillages(); let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.village }}</td>
        <td>{{ item.postOffice }}</td>
      </tr>
      <tr *ngIf="filteredVillages().length === 0">
      <td colspan="3" class="text-center">
        No villages found.
      </td>
    </tr>
      <div *ngIf="!data.villages?.length">
        No villages available.
      </div>
</table>
    </div>

  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <ng-container *ngIf="data.type !== 'villages'">
    <button mat-button mat-dialog-close>
      {{ data.cancelText }}
    </button>

    <button mat-raised-button color="warn" [mat-dialog-close]="true">
      {{ data.confirmText }}
    </button>
  </ng-container>

  <ng-container *ngIf="data.type === 'villages'">
    <button mat-raised-button color="primary" mat-dialog-close>
      {{ data.closeText }}
    </button>
  </ng-container>

</mat-dialog-actions>